$purple: #99769D
$blue: #5385B6
  
* 
  margin: 0
  padding: 0
  color: #ffffff

  a 
    color: inherit
    text-decoration: none

html, body
  overflow-x: hidden

#page-container
  min-height: 100vh
  min-width: 100vw
  background: linear-gradient($purple, $blue 30%)
  background-attachment: fixed
  

// HEADER & MENU
header
  width: 100%
  padding: 20px
  box-sizing: border-box
  display: flex
  flex-direction: row 
  justify-content: space-between
  align-items: center
  position: fixed

  #logo-container
    #logo
      height: 70px

  nav 
    font-family: 'Lato', sans-serif

    ul 
      display: flex
      flex-direction: row 

      li 
        list-style: none 
        padding: 10px 20px
        border-bottom: 1px solid transparent

        &:hover
          border-bottom: 2px solid lighten($blue, 20%)


// PAGE CONTENT
section
  min-height: 100vh
  display: flex
  align-items: center 
  justify-content: center
  font-family: 'Lato'

#elevation-teaser
  font-family: 'Advent Pro', sans-serif

  #elevation-teaser-content
    display: flex
    flex-direction: row

    #elevation-artwork 
      margin-right: 40px

      img
        min-height: 300px
        height: 60vh
        max-height: 800px

    #elevation-description
      max-width: 600px
      display: flex 
      flex-direction: column
      justify-content: space-between

      #elevation-title-section 
        h1
          font-weight: 600
          font-size: 5em
          margin-top: -18px

        h3
          font-weight: 400
          font-size: 3em

      #elevation-countdown
        font-size: 2em

#discography

  #discography-content
    display: flex 
    flex-direction: column
    align-items: center

    #discography-title
      font-size: 2em
      margin-bottom: 40px

    #streaming-container
      display: flex

    .player-wrapper
      display: flex
      flex-direction: column
      align-items: center
      margin: 20px

      .player-label
        font-size: 1.5em
        margin-top: 10px
    
// #socials   
#socials
  flex-direction: column

  #socials-title
    font-size: 2em
    margin-bottom: 40px

  #socials-container
    display: flex
    // width: 60vw
    // justify-content: space-around

    .social-embed-container
      width: 350px 
      margin: 20px

footer
  font-family: 'Lato', sans-serif
  padding-bottom: 20px

  #footer-content 
    width: 100vw
    display: flex
    justify-content: center
    align-items: center

    img 
      height: 20px
      padding: 0 10px
